* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f7ee;
}
main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  align-items: center;
}
header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
}
h3 {
  text-align: center;
  font-size: 18px;
  margin-bottom: 10px;
}
label {
  margin-right: 10px;
  font-weight: bold;
  margin-top: 5px;
}

select,
input {
  padding: 5px;
  margin-right: 10px;
  text-align: center;
  max-width: 100px;
}
/* ------------------------------------------------------------------------------------- */
.top-div {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.calendar-body {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.day-div,
.wd-div {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 7px;
  gap: 5px;
}
.wd {
  text-align: center;
  padding: 7px;
  border: 0.5px solid gray;
  border-radius: 3px;
}
.blank,
.day {
  border: 0.5px solid gray;
  min-height: 150px;
  padding: 5px;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.day {
  cursor: pointer;
}
/* eng date */
.date-p {
  padding: 3px;
}
.date-span {
  font-size: medium;
  margin-right: 5px;
}
.wd-span {
  display: none;
}
/* burmese date */
.bm-p {
  font-size: smaller;
  margin: 5px 0;
}
.bm-p-d {
  font-size: small;
  margin: 5px 0;
  font-weight: bold;
}
.bm-sbh {
  font-size: smaller;
  color: green;
  font-weight: bold;
}
.day-view {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  margin: 38px auto;
  line-height: 27px;
}
.astro-p {
  display: flex;
}
.back-btn {
  padding: 7px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  min-width: 70px;
  margin-top: 20px;
}
.back-btn:hover {
  background-color: goldenrod;
  color: #fff;
}
/*  */
.holiday {
  color: red;
  font-size: small;
  margin: 7px 0;
  padding-bottom: 5px;
  font-weight: bold;
}
.sunday {
  color: red;
}
/* ============================================================ */
@media only screen and (max-width: 768px) {
  header {
    margin: auto;
  }
  .top-div {
    flex-direction: column;
    margin: auto;
  }
  .blank,
  .wd-div {
    display: none;
  }
  .day-div {
    display: flex;
    flex-direction: column;
  }
  .date-p {
    display: flex;
    justify-content: space-between;
  }
  .wd-span {
    display: block;
    font-size: medium;
  }
}
